:host {
    font: normal 16px/1.6 system-ui, sans-serif;
    text-shadow: 0 1px 1px hsl(0 0% 0% / 20%);
}

.search-block {
    margin-top: 10px;
}

input {
    background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;
    color: white;
    height: 32px;
    margin-right: 10px;
    width: 100%;
}